{% extends 'blog/layout.html' %}

{% block title %}
    populations post
{% endblock %}

{% block content %} 
<section class="container-fluid">
    <div class="row">
        {% for post in popular %}
        <div class="col-md-6">
            <h1>POPULAR</h1>
            <h3>{{post.title}}</h3>
            <em>{{post.views}}</em>
            <img src="{{post.image.url}}" alt="">
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}