{% extends 'blog/layout.html' %}    
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Регистрация</button>
    </form>
    
    

{% endblock %}